* {
    box-sizing: border-box;
}

html {
    font-family: 'Merriweather', serif, sans-serif;
    line-height: 1.5;
}

body {
    background: beige;
    color: rgb(39, 44, 71);
}

.newsletter-label {
    display: block;
    padding: 10px 0;
}

ul {
    list-style: none;
    padding-left: 0px;

}

ul li {
    display: block;
}

header {
    margin: 0;
    padding: 1em 0;
    background: rgb(39, 44, 71);
    text-transform: uppercase;
    font-size: .6em;
    color: white;
}

main, footer {
    max-width: 90%;
    margin: auto;
}

input, select, button {
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

textarea {
    height: 150px;
    width: 100%;
    border: none;
    
}

header, footer, .main-intro {
    text-align: center;
}

fieldset {
    border: none;
    border-top: 2px solid rgb(39, 44, 71);
    padding: 10px 0;
    margin: 4px 0;
}

legend, label {
    text-align: left;
    font-size: .95em;
}

h2, legend {
    font-weight: bold;
    font-size: 1em;
}

h2 {
    margin-bottom: 5px;
}

.main-intro p {
    margin-top: 10px;
    font-size: .9rem;
    opacity: 70%;
}

.main-intro {
    border-bottom: 4px solid rgb(39, 44, 71);
}

.newsletter input {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding-right: 10px;
}




@media screen and (min-width: 768px) {

    main, footer {
        max-width: 50%;
    }

    input, select {
        display: inline-block;
    }
}
