* {
    box-sizing: border-box;
}

html {
    font-family: 'Merriweather', serif, sans-serif;
    line-height: 1.5;
}

body {
    background: beige;
    color: rgb(39, 44, 71);
}

.newsletter-label {
    display: block;
    padding: 10px 0;
}

ul {
    list-style: none;
    padding-left: 0px;
}

header {
    margin: 0;
    padding: 1em 0;
    background: rgb(39, 44, 71);
    text-transform: uppercase;
    font-size: .6em;
    color: white;
}

main, footer {
    max-width: 90%;
    margin: auto;
    padding-bottom: 15px;
}

input, select, button {
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
    border: 2px solid rgb(39, 44, 71);
    transition: background-color 1s ease;
    background-color:rgb(233, 233, 233);
}

input[id^="zip"] {
    margin-left: 0;
    max-width: 50%;
}

button {
    color:white;
    background-color: rgb(16, 171, 182);
    font-weight: bold;
    border-radius: 5px;
}

textarea {
    height: 110px;
    max-width: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
}


header, footer, .main-intro {
    text-align: center;
}

.border {
    border-top: 2px solid rgb(39, 44, 71);
    border-bottom: 2px solid rgb(39, 44, 71);
    margin-top: 3px;
}

fieldset {
    border: none;
    padding: 10px 0;
    margin: 4px 0;
}

legend, label {
    text-align: left;
    font-size: .95em;
}

h2, legend {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 15px;
}

h2 {
    margin-bottom: 5px;
}

.main-intro p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: .9rem;
    opacity: 70%;
}

.main-intro {
    border-bottom: 4px solid rgb(39, 44, 71);
}

.newsletter input {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.news-btn, .format-btn {
    padding-left: 15px;
}

footer {
    color: grey;
    font-style: italic;
    font-size: .8em;
    margin-bottom: 20em;
}

::placeholder {
    color:gray;
    font-style: italic;
    font-size: .9em;
    text-align: right;
}

textarea::placeholder{
    text-align: left;
}

#state {
    color: gray;
}


@media screen and (min-width: 768px) {

    main, footer {
        max-width: 60%;
    }

    .container, .container-2 {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .container input, .container select {
        width: 75%;
        align-self: flex-end;
        margin: 10px 0;
    }

    .container label, .container-2 input, .container-2 label {
        width: 25%;
    }
    
    

}
